/* public/style.css */

/* Add any global styles or overrides here. For example: */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Custom style for the drag-and-drop hover state */
.drag-over {
    border-color: #007BFF;
    background-color: #f0f8ff;
}